<h1>Editing <%= singular %></h1>

<%%= render "form", <%= singular %>: @<%= singular %> %>

<br>

<div>
  <%%= link_to "Show this <%= singular %>", @<%= singular %> %> |
  <%%= link_to "Back to <%= model.name.pluralize %>", <%= singular %>_path %>
</div>
