<p style="color: green"><%%= notice %></p>

<%%= render @<%= singular %> %>

<div>
  <%%= link_to "Edit this <%= singular %>", edit_<%= singular %>_path(@<%= singular %>) %> |
  <%%= link_to "Back to <%= plural %>", <%= plural %>_path %>

  <%%= button_to "Destroy this <%= singular %>", @<%= singular %>, method: :delete %>
</div>
